#info {

}

.perfil {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
    
.border-foto {
    position: relative;
    width: 90.99px; /* 87.27 + 4.36*2 */
    height: 90.99px;
    padding: 2.18px;
    border: 2px solid var(--main-red);
    border-radius: 50%;
    box-sizing: border-box;
}

.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    display: block;
}

.icone-dev {
    position: absolute;
    right: -6px;
    bottom: -6px;
    width: 32px;
    height: 32px;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

.tag {
    width: auto;
    height: 40px;
    border-radius: 999px;
    background-color: var(--base-gray-300);
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

.vector {
    display: flex;
    align-self: center;
    justify-content: center;
}

#project {
}
 
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px;
    box-sizing: border-box;
}

article {
    width: auto;
    height: auto;
    background-color: var(--base-gray-300);
    border-radius: 12px;
    padding: 12px;
}

article img {
    border-radius: 8px;
    margin-bottom: 20px;
}

article h3 {
    margin-bottom: 8px;
}

aside div {
    padding: 20px;
    border: 2px solid;
    border-radius: 12px;
    border-color: var(--base-gray-200);
}

aside div img {
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 16px;
}

.links div {
    display: flex;
    width: 400px;
    height: 68px;
    border-radius: 8px;
    background-color: var(--base-gray-300);
    padding: 20px;
}